redis==2.10.3
webob==1.5.1
argparse==1.2.1
requests==2.5.0
Flask==0.10.1
https://github.com/tusharbabbar/flask-login/archive/master.zip
Flask-RESTful==0.3.0
Werkzeug==0.9.6
google-api-python-client==1.4.0


